<!DOCTYPE html>  

<html>
        <head>
            <title>HomePage</title>
            <style>
        /* Add CSS here */
            </style>
        </head>
        <body>
            <h1>Welcome to G19 Web App</h1>
            <a href="/signup">Sign Up</a>
            <a href="/login">Log In</a>
        </body>
    </html>

